@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  padding: 0 100px;
  top: 80px;
  width: 70%;
  height: 100%;
  border: 3px solid #eee;
  border-radius: 5%;
  box-shadow: 2px 4px rgba(99, 124, 233, 0.04);
}

.Note {
  display: block;
  max-width: 500px;
  width: 100%;
  text-align: right;
  float: right;
  margin: 10px auto;
  overflow: auto;
  min-height: 100px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  background: green;
  color: #fff;
  border: none;
  padding: 20px 30px;
  margin: 40px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}

.btn:hover {
  background-color: rgb(79, 104, 243);
  outline: none;
}

.btn:active {
  transform: scale(0.96);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.input {
  justify-content: center;
  position: relative;
  float: right;
  direction: rtl;
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.select {
  text-align: center;
  display: flex;
  width: 40%;
  background-color: rgb(250, 245, 238);
}

.invalid {
  border-color: crimson;
}

.pic {
  display: block;
  position: absolute;
  align-items: flex-start;
  top: 100px;
  right: 25%;
  width: 120px;
  height: 100px;
  background-color: cornsilk;
}

.picBig {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 500px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.footer {
  display: flex;
  color: blue;
  margin-top: 120px;
  justify-content: center;
}

.Header {
  background-color: #ffbd33;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 0 10%;
  text-align: center;
  z-index: 10;
}

.link {
  color: black;
  text-decoration: none;
  justify-self: center;
  width: auto;
  font-weight: 800;
}

.link:hover {
  color: blueviolet;
}

.Card {
  display: flex;
  justify-content: center;
  margin: 1px;
  width: 100px;
  height: 80px;
  border: 3px solid orange;
  background-color: papayawhip;
  border-radius: 5%;
  box-shadow: 50px black;
}

.loader {
  position: flex;
  justify-content: center;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 0.5s linear infinite;
}

@media (min-width: 801px) {
  .container {
    width: 70%;
  }
  .link {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .container {
    width: 130%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
